<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mikeshehadeh.unitracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
        <activity android:name=".TermListActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".HomeScreenActivity"></activity>
        -->
        <activity android:name=".HomeScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TermListActivity"
            android:label="Term List" />
        <activity
            android:name=".TermDetailActivity"
            android:label="UniTracker - Term Details" />
        <activity
            android:name=".CourseListActivity"
            android:label="Course List" />
        <activity
            android:name=".CourseDetailActivity"
            android:label="UniTracker - Course Details" />
        <activity android:name=".AdvancedActivity"
            android:label="Advanced Menu"/>
        <activity
            android:name=".MentorListActivity"
            android:label="Mentors List" />
        <activity
            android:name=".MentorDetailActivity"
            android:label="Mentor Details" />
        <activity
            android:name=".AssessmentListActivity"
            android:label="Assessment List" />
        <activity android:name=".AssessmentItem" />
        <activity
            android:name=".AssessmentDetailActivity"
            android:label="Assessment Details" />
        <!-- <activity android:name=".AlertListActivity"></activity> -->
        <activity
            android:name=".NoteListActivity"
            android:label="Notes List" />
        <activity
            android:name=".NoteDetailActivity"
            android:label="UniTracker - Note Details" />
        <activity
            android:name=".CourseAlertListActivity"
            android:label="UniTracker - Course Alerts" />
        <activity android:name=".CourseMentorListActivity"
            android:label="Assigned Mentors"></activity>
    </application>

</manifest>